.container {
  height: 0px;
}

.sidenav {
  height: 100vh;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.links {
  display: flex;
  align-content: center;
  transform: rotate(-90deg);
  margin: 50px 10px 70px 10px;
  padding-top: 5px;
}

.links :hover {
  transition: 1s;
  transform: rotate(90deg);
}

.sidenav a {
  text-decoration: none;
  font-size: 15px;
  color: white;
  font-weight: bold;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.hiddendiv {
  display: none;
  transition: 1s;
}

.james:hover .hiddendiv{
  display: contents;
}
.main {
background-image: url("portfolio.jpg");
background-color: #cccccc;
height: 100vh;
padding-top: 10px;
z-index: -1;
}

.main1 {
  background-image: url("portfolio.jpg");
  background-color: #cccccc;
  height: 100vh;
  padding-top: 80px;
  z-index: -1;
  }

.mainform {
  background-image: url("portfolio.jpg");
  background-color: #cccccc;
  height: 100vh;
  padding-top: 40px;
  z-index: -1;
  }

.main h1 {
  font-size: 100px;
}


.cv {
  display: flex;
  justify-content: center;
  margin-left: 110px;
  padding: 0px 0px;
  color: white;
}

.welcome {

  display: flex;
  justify-content: left;
  margin-left: 110px;
  padding: 0px 10px;
  color: white;
}

.main1 img {
  display: flex;
  margin-left: 115px;
  border-radius: 10px;
  width: 90vw;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.5);
}

.welcome h1 {
  font-size: 100px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
