.sidenav {
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebuttons {
  // margin-top: 130px;
  margin-top: 25vh;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: white;
  font-weight: bold;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

// .main{
//   z-index: 1;
//   margin-left: 100px;
//   padding: 0px 10px;
// }

.main_body {
  z-index: 1;
  margin-left: 110px;
  padding: 0px 10px;
  color: white;
}

.main img{
  z-index: 0;
  margin: 0 !important;
  padding: 0 !important;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
