<div class="sidenav">
  <div class="links"><a href="/">About</a></div>
  <div class="links"><a href="/cv">My CV</a></div>
  <div class="links"><a href="/works">Work</a></div>
  <div class="links"><a href="/contacts/new">Contact</a></div>
</div>

<div class="main1">
  <div class="welcome">
    <h1>This page will link to repository in Github</h1>
  </div>
</div>
