<div class="sidenavwork">
  <div class="links"><a href="/">About</a></div>
  <div class="links"><a href="/cv">My CV</a></div>
  <div class="links"><a href="/works">Work</a></div>
  <div class="links"><a href="/contacts/new">Contact</a></div>
  <div class="iconcontainer">
    <div class="icons"><a href="https://github.com/BakeALoaf" target="_blank"><i class="fab fa-github" style="font-size:24px"></i></a></div>
    <div class="icons"><a href="https://www.linkedin.com/in/james-barker-6706761ab/" target="_blank"><i class="fa-brands fa-linkedin" style="font-size:24px"></i></a></div>
    <div class="icons"><a href="https://www.xing.com/profile/James_Barker6/cv" target="_blank"><i class="fa-brands fa-xing" style="font-size:24px"></i></a></div>
  </div>


</div>

<div class="main3">
  <div class="welcomework">
    <div class="workimg">
      <div class="gallery">
        <img src="standin.jpg" alt="">
        <img src="standin.jpg" alt="">
        <img src="standin.jpg" alt="">
        <img src="standin.jpg" alt="">
        </div>
    </div>
  </div>
</div>
