<div class="sidenav">
  <div class="links"><a href="/">About</a></div>
  <div class="links"><a href="/cv">My CV</a></div>
  <div class="links"><a href="/works">Work</a></div>
  <div class="links"><a href="/contacts">Contact</a></div>
</div>

<div class="main1">
  <div class="welcome">
    <h1>Hi, <br> I'm <span class="james">James</span><br> FullStack Developer</h1>
  </div>
    <img src="TechStack2.png" alt="">
</div>
