<div class="sidenav">
  <div class="links"><a href="/">About</a></div>
  <div class="links"><a href="/cv">My CV</a></div>
  <div class="links"><a href="/works">Work</a></div>
  <div class="links"><a href="/contacts/new">Contact</a></div>
</div>

<div class="main1">
  <div class="welcome">
    <div class="container">
      <h1>Contact Form</h1>
      <h3>Thank you for your message!</h3>
    </div>
  </div>
</div>
