<div class="sidenav">
  <div class="links"><a href="/">About</a></div>
  <div class="links"><a href="/cv">My CV</a></div>
  <div class="links"><a href="/works">Work</a></div>
  <div class="links"><a href="/contacts/new">Contact</a></div>
    <div class="iconcontainer">
    <div class="icons"><a href="https://github.com/BakeALoaf" target="_blank"><i class="fab fa-github" style="font-size:24px"></i></a></div>
    <div class="icons"><a href="https://www.linkedin.com/in/james-barker-6706761ab/" target="_blank"><i class="fa-brands fa-linkedin" style="font-size:24px"></i></a></div>
    <div class="icons"><a href="https://www.xing.com/profile/James_Barker6/cv" target="_blank"><i class="fa-brands fa-xing" style="font-size:24px"></i></a></div>
  </div>
</div>

<div class="main1">
  <div class="welcome">
    <div class="container">
      <h1>Contact Form</h1>
      <h3>Thank you for your message!</h3>
    </div>
  </div>
</div>
