<div class="sidenav">
  <div class="links"><a href="/">About</a></div>
  <div class="links"><a href="/cv">CV</a></div>
  <div class="links"><a href="#">Skills</a></div>
  <div class="links"><a href="#">Work</a></div>
  <div class="links"><a href="#">Contact</a></div>
</div>

<div class="main1">
  <div class="welcome">
    <h1>This will be the contact form</h1>
  </div>
</div>
