<div class="sidenav">
  <div class="links"><a href="/">About</a></div>
  <div class="links"><a href="/cv">My CV</a></div>
  <div class="links"><a href="/works">Work</a></div>
  <div class="links"><a href="/contacts">Contact</a></div>
</div>

<div class="main">
  <div class="cv">
    <iframe src="Lebenslauf.pdf" width="700px" height="550px"></iframe>
  </div>
</div>
